.add {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    gap: 15px;
    padding-top: 30px;
    text-align: center;

    img {
      width: 100px;
      height: 100px;
    }

  }

  form {
    .input {
      margin-top: 40px;

    }

    .action {
      justify-content: center;
    }
  }
}