.form-container {
  padding-bottom: 50px;

  .form-card {
    border-radius: 17px;
    padding: 15px 15px 25px;
    margin-bottom: 20px;
    background-color: white;
    position: relative;

    .error-form {
      margin: 5px auto;
      position: absolute;
      bottom: -3px;
      left: 50%;
      transform: translateX(-50%);
      color: red;
      font-size: 12px;
      font-weight: 600;
    }

    label {
      margin-bottom: 5px;
      display: block;
    }
  }

  .choose-bar {
    background-color: white;
    justify-content: center;
    gap: 16px;
    border-radius: 0;
    margin: 0 au;

    .item {
      color: black;
      border-radius: 30px;
      max-height: 45px;
      min-width: 40%;

    }

    .outcome {
      border: 1px solid var(--outcome-color);

      &.active-btn {
        color: white;
        background-color: var(--outcome-color);
      }
    }

    .income {
      border: 1px solid var(--income-color);

      &.active-btn {
        color: white;
        background-color: var(--income-color);
      }
    }
  }

  .radio-group {
    max-width: 200px;
    margin: auto;

    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;

      .h5 {
        font-size: 17px;
        font-weight: 600;
      }
    }
  }
}

.source-list {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 15px;


  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 5px;
    border: 1px solid var(--blue);
    font-size: 14px;
    max-width: 150px;
    position: relative;
    cursor: pointer;
    min-width: 80px;
    font-weight: 600;

    span {
      letter-spacing: 1.5px;
      text-align: center;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.high-light {
      background-color: var(--blue);
      color: white;
    }
  }
}