header {
  padding: 10px 0;

  .container {
    $imgWidth: 40px;
    $logoImg: $imgWidth;


    .lang,
    .user {
      gap: 7px;
    }

    .lang {
      height: $imgWidth;
      width: $imgWidth;
      padding: 0;
      justify-content: center;
    }

    img {
      width: $imgWidth;
    }

    .user {
      img {
        height: $logoImg;
        width: $logoImg;
        border-radius: 50%;
      }
    }
  }
}