<!DOCTYPE html>
<html>

<head>
  <title> Code Verification</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('style.ejs') -%>
</head>

<body>
  <table>
    <tr>
      <td>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/gold-gym-45055.appspot.com/o/exercises%2FScreenshot%202023-09-25%20at%205.10.02%E2%80%AFPM.png?alt=media&token=ec3ce83c-cdd5-4d1a-8f49-52b741158743"
          alt="">
      </td>
    </tr>
    <tr>
      <td>
        <img class="icon"
          src="https://sstjga.stripocdn.email/content/guids/CABINET_f3fc38cf551f5b08f70308b6252772b8/images/96671618383886503.png"
          alt="">
      </td>
    </tr>
    <tr>
      <td>
        <h1 class="code">
          <%=code %>
        </h1>
      </td>
    </tr>
    <tr>
      <td>
        <p class="text">
          Hello,
          <span class="name">
            <%=name %>
          </span>
          Thank you for choosing Daily Manager.
          <br>
          To ensure the security of your account,You're received This code.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <span class="team"> Thank you for choosing
          <span class="logo">Daily Manager (DM)</span>
        </span>
        <p class="warning">Code is available for only 30 minutes </p>
      </td>
    </tr>
  </table>
</body>

</html>