<!DOCTYPE html>
<html>

<head>
  <title>Welcome <%=name %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('style.ejs') -%>
</head>

<body>
  <table>
    <tr>
      <td>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/gold-gym-45055.appspot.com/o/exercises%2FScreenshot%202023-09-25%20at%205.10.02%E2%80%AFPM.png?alt=media&token=ec3ce83c-cdd5-4d1a-8f49-52b741158743"
          alt="">
      </td>
    </tr>
    <tr>
      <td>
        <img class="icon"
          src="https://firebasestorage.googleapis.com/v0/b/gold-gym-45055.appspot.com/o/DM%2FIwryttAqVTCBhaA.png?alt=media&token=0ce7d544-ad23-423f-b2e1-7e36b3c755b5"
          alt="">
      </td>
    </tr>
    <tr>
      <td>
        <h1>
          Welcome <span class="name">
            <%=name %>
          </span>
        </h1>
      </td>
    </tr>
    <tr>
      <td class="text-td">
        We are thrilled to welcome you to Daily Manager, your go-to web-based application for seamlessly combining a
        calendar,task manager, and powerful charting functionality, all designed to empower you to stay organized and in
        control of your Daily Activities.

        <br />
        <div class="instructions">
          Here at DM, we understand the importance of efficiency and productivity in your Daily life.
          <div class="inst ch-1">
            <div class="text">
              <span class="highlight">Calendar:</span>
              Effortlessly schedule and organize your Daily appointments and
              events. Stay on top
              of your
              commitments with ease.
            </div>
          </div>
          <div class="inst">
            <div class="text">
              <span class="highlight">ToDo:</span>
              Create, prioritize, and track tasks efficiently. Our task manager helps you streamline your
              to-do list and ensure that nothing falls through the cracks.
            </div>
          </div>
          <div class="inst">
            <div class="text">
              <span class="highlight">Goal:</span>
              Create a goal page in your DM with specific goals and milestones. Track progress using charts,
              adjust as needed, and stay motivated with rewards. Reflect on your journey and stay accountable for
              success.
            </div>
          </div>
          <div class="inst">
            <div class="text">
              <span class="highlight">Charting:</span>
              Incorporate a data analysis dashboard with charts into your DM for a visual representation of
              your progress and key insights.
            </div>
          </div>
        </div>
        <a href='hh' class="button">DM</a>
      </td>
    </tr>
    <tr>
      <td>
        <span class="team"> Thank you for choosing
          <span class="logo">Daily Manager (DM)</span>
        </span>
      </td>
    </tr>
  </table>
</body>

</html>